.main_field{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
@media (max-width: 480px) {
    .main_field {
      padding: 20px; 
    }
  }
button {
    height: 2.5rem;
    width: 2.5rem;
    font-size: 24px;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.h1-score{
    display: block;
}
.field_button{
    display: grid;
}
#field_easy{
    grid-template-columns: repeat(8, 40px);
  }
#field_normal {
    grid-template-columns: repeat(16, 40px);
  }
#field_hard {
    grid-template-columns: repeat(30, 40px);
  }

  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  
  .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    background-color: rgb(152, 168, 154);
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 20vh;
    position: relative;
  }
  
  .difficulty-btn {
    margin-bottom: 10px;
    width: 6rem;
    
  }
  
  .close-modal-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
  }
